<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>EcTouch 安装向导</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link href="__TPL__/css/base.css" rel="stylesheet" type="text/css">
<link href="__TPL__/css/install.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="install_main">
    <div class="install_content">
    	<div class="title">非常抱歉，程序安装失败</div>
        <div class="central">
        失败原因：{$error}
</div>
    </div>
</div>
</body>
</html>
