<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>EcTouch 安装向导</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link href="__TPL__/css/base.css" rel="stylesheet" type="text/css">
<link href="__TPL__/css/install.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="install_main">
    <div class="install_content">
    	<div class="title">欢迎使用EcTouch安装向导</div>
        <div class="central">
        恭喜您，成功安装EcTouch，您可以<a href="../" target="_blank">进入首页</a>访问，请及时关注<a href="http://www.ectouch.cn" target="_blank">官网首页</a>了解最新的教程与程序升级。</div>
    </div>
</div>
</body>
</html>
