<!-- {if $full_page} -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div">
{if $smarty.get.auid}
{$lang.show_affiliate_orders}
{else}
<form action="affiliate_ck.php?act=list">
搜索推荐人ID
<input type="hidden" name="act" value="list" />
<input name="auid" type="text" id="auid" size="15"><input type="submit" value="{$lang.button_search}" class="button" />
</form>
{/if}
</div>
<form method="post" action="" name="listForm">
<div class="list-div" id="listDiv">
<!-- {/if} -->
<table style="text-align:center" cellspacing='1' cellpadding='3'>
<tr>
  <th width="8%">编号</th>
  <th width="8%">推荐人ID/名字</th>
  <th width="12%">分成时间</th>
  <th width="8%">分成金额</th>
  <th>分成订单号</th>
  <th width="8%">{$lang.separate_type}</th>
</tr>
<!-- {foreach from=$logdb item=val} -->
<tr>
  <td align="center">{$val.log_id}</td>
  <td>{$val.user_id} / {$val.user_name}</td>
  <td>{$val.time}</td>
  <td>{$val.money}</td>
  <td><a href="order.php?act=info&order_id={$val.order_id}">{$val.order_sn}</a></td>
  <td>{if $val.separate_type eq 0}注册分成{else}订单分成{/if}</td>
  
</tr>
    <!-- {foreachelse} -->
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
<!-- {/foreach} -->
</table>
  <table cellpadding="4" cellspacing="0">
    <tr>
      <td align="right">{include file="page.htm"}</td>
    </tr>
  </table>
<!-- {if $full_page} -->
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

<!-- {literal} -->
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
<!-- {/literal} -->
</script>
{include file="pagefooter.htm"}
<!-- {/if} -->